<!-- footer-->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-6">
			<img src="images/orgulloBG.png" class="img-fluid" width="100%">
		</div>
	</div>
	
</div>
<footer class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-4 order-md-1 col-lg-2 order-lg-1">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="#">Aspirantes</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Alumnos</a></li>
				<li class="nav-item"><a class="nav-link" href="#">ExaUAZ</a></li>
				<li class="nav-item"><a class="nav-link" href="http://portal.uaz.edu.mx/siiaf/app/">Docentes</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Administrativos</a></li>
			</ul>
		</div>
		<div class="col-12 col-md-4 order-md-3 col-lg-2 order-lg-2">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="#">Rectoría</a></li>
				<li class="nav-item"><a class="nav-link" href="http://sgeneral.uaz.edu.mx/">Secretaría General</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Secretaría Académica</a></li>
				<li class="nav-item"><a class="nav-link" href="http://sadministrativa.uaz.edu.mx/">Secretaría Administrativa</a></li>
			</ul>
		</div>
		<div class="col-12 col-md-4 order-md-2 order-lg-3">
			<img src="images/logo_uaz.png" class="img-fluid" width="100%">
		</div>
		<div class="col-12 col-md-4 order-md-4 col-lg-2 order-lg-4 ">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="http://transparencia.uaz.edu.mx/">Transparencia</a></li>
				<li class="nav-item"><a class="nav-link" href="http://www2.uaz.edu.mx/web/www/agenda">Agenda</a></li>
				<li class="nav-item"><a class="nav-link" href="http://planeacion.uaz.edu.mx/directorio1">Directorio</a></li>
				<li class="nav-item"><a class="nav-link" href="https://mail.google.com/a/uaz.edu.mx" target="_blank">Correo</a></li>
			</ul>
		</div>
		<div class="col-12 col-md-4 offset-md-4 order-md-5  col-lg-2 offset-lg-0 order-lg-5">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="http://www.escolar.uaz.edu.mx/web/guest/inscripcion1">Admisión</a></li>
				<li class="nav-item"><a class="nav-link" href="#" target="_blank">Oferta Educativa</a></li>
				<li class="nav-item"><a class="nav-link" href="http://escolar.uaz.edu.mx/">Departamento Escolar</a></li>
				<li class="nav-item"><a class="nav-link" href="http://escolar.uaz.edu.mx/documents/10181/13461/Convocatoria/45acfdca-1679-436d-9591-deed591ee222">Convocatorias y Trámites</a></li>
			</ul>
		</div>
	</div>
	<div>
		<div>
		</div>
		<div>
			<a href="http://contraloriasocial.uaz.edu.mx/" target="_blank"><img src="images/contraloria.png"></a>
		</div>
		<div>
			<a href="http://www.ciees.edu.mx/index.php/programas/programas" target="_blank"><img src="images/ciees.png"></a>
		</div>
		<div>
			<a href="http://www.gob.mx/sep" target="_blank"><img src="images/sep.png"></a>
		</div>
		<div>
			<a href="http://www.anuies.mx/anuies/instituciones-de-educacion-superior/institucion.php?varSectionID=22&amp;varIDInstitucion=1541" target="_blank"><img src="images/anuies.png"></a>
		</div>
		<div>
			<a href="http://conacyt.gob.mx" target="_blank"><img src="images/conacyt.png"></a>
		</div>
		<div>
			<a href="http://www.cumex.org.mx/integrantes/" target="_blank"><img src="images/cumex.png"></a>
		</div>
		<div>
			<a href="http://www.copaes.org/Copaes2.0/" target="_blank"><img src="images/copaes.png"></a>
		</div>
		<div>
		</div>
	</div>
	<div>
		<div>
			<a href="https://twitter.com/UAZ_Oficial" target="_blank"><img src="images/twitter.png"></a>
		</div>
		<div>
			<a href="https://www.facebook.com/UAZzacatecas/" target="_blank"><img src="images/facebook.png"></a>
		</div>
		<div>
			<a href="https://www.instagram.com/uaz_oficial/" target="_blank"><img src="images/instangram.png"></a>
		</div>
		<div>
			<a href="https://www.youtube.com/channel/UCYg9jLlAPHKMhsgcgTzBG4Q" target="_blank"><img src="images/youtube.png"></a>
		</div>
	</div>
	<div>
		<div>
			<address>
				<strong>Universidad Autónoma de Zacatecas, UAZ.</strong>
				Jardín Juárez #147, Centro Histórico
				C.P. 98000 | Zacatecas, Zacatecas, México. | <abbr title="Teléfono"><br>Tel.</abbr> +52 (492) 92 22001, +52 (492) 92 22460, ext. 105.
				<a href="mailto:contacto@uaz.edu.mx?Subject=Hola, Buenas Tardes" target="_top">contacto@uaz.edu.mx</a> |<a href="http://www.uaz.edu.mx/archivos/img/septiembre/privacidad.pdf"><small> AVISO DE PRIVACIDAD </small> </a>|
			</address>
		</div>
	</div>
</footer>
<!-- footer-->